@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.screen {
		@apply flex min-h-screen;
	}

	.section {
		@apply flex grow;
	}
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
